<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQ9FQz_DstlIUTi8CnBzc26dsJzb6ZJwA</string>
	<key>GCM_SENDER_ID</key>
	<string>916584054429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harmeet.Let-goFirebase</string>
	<key>PROJECT_ID</key>
	<string>let-gofirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>let-gofirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916584054429:ios:b7daf0307cce7f3ee9de74</string>
</dict>
</plist>